!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%title
			Sitebuild area
		%script{ :type => 'text/javascript', :src => '/j/jquery-1.7.2.min.js' }
		%script{ :type => 'text/javascript', :src => '/j/highcharts.js' }
		%script{ :type => 'text/javascript', :src => '/j/halo-core.js' }
		%script{ :type => 'text/javascript', :src => '/j/halo-ui.js' }
		%script{ :type => 'text/javascript', :src => '/j/halo-net.js' }
		%script{ :type => 'text/javascript', :src => '/j/halo-client.js' }
		%link{ :rel => :stylesheet, :href => '/c/fonts' }
		%link{ :rel => :stylesheet, :href => '/c/main2' }
	%body
		#header
			%span.static
				Welcome
			%span.dynamic
				= current_user.display_name
		#application
			#menu
				%ul
					%li.selected
						%a{ :href => '/' }
							.tab.icon-home-200
					%li
						%a{ :href => '/wishlist' }
							.tab.icon-wishlist-200
					%li
						%a{ :href => '/transactions' }
							.tab.icon-transactions-200
					%li
						%a{ :href => '/accounts' }
							.tab.icon-accounts-200
					%li
						%a{ :href => '/categories' }
							.tab.icon-categories-200
					%li
						%a{ :href => '/settings' }
							.tab.icon-settings-200
					%li
						%a{ :href => '/user/logout' }
							.tab.icon-logout-200
			#module
				= yield
			.clearer
			#debug-panel
				%b
					Debug messages
