$bg-color: #e6e7e9

body
	background-color: $bg-color
	margin: 0px
	padding: 0px
	font-family: ubuntu-light

#header
	height: 25px
	background: -moz-linear-gradient(#64636f, #403f4a)
	background: -webkit-linear-gradient(#64636f, #403f4a)
	border-bottom: 2px solid #5d5c66
	font-family: Verdana
	font-size: 12px
	padding-top: 10px
	padding-left: 30px

	.static
		color: #e9e9ea
	.dynamic
		color: #0cb1ee
	
#application
	margin-top: 30px
	position: relative

#menu
	float: left
	padding-left: 30px
	position: absolute
	z-index: 1

	ul
		margin: 0
		padding: 0
		li
			list-style-type: none
			text-align: center
			padding-right: 20px
			a
				border-bottom: 1px solid #cecfd0
				text-decoration: none
				font-size: 12px
				&:hover,&:visited,&:active
					color: #000
				.tab
					height: 90px
					width: 85px
			&.selected
				background: #f0f1f2
				box-shadow: -6px 0px 9px 0px #CACACA, 20px 0px -39px 26px #F0F1F2
				border-radius: 5px
				z-index: 1


#module
	float: left
	background: #f0f1f2
	box-shadow: -4px 0px 10px #ccc
	min-height: 600px
	min-width: 600px
	width: 80%
	padding: 30px
	border-radius: 5px
	z-index: 0
	position: absolute
	margin-left: 120px

	.box-body
		background-color: #eaebec
		border: 1px solid #dddedf
		padding: 5px

	.transactions
		width: 750px
		color: #6d6e76
		border-collapse: collapse
		thead
			text-align: left
			th
				padding-top: 10px
				padding-bottom: 10px
		tbody
			font-family: ubuntu
			font-size: 16px
			tr.transaction-group-header
				td
					background: -moz-linear-gradient(#eaebec,#dfdfdf)
					background: -webkit-linear-gradient(#f0f0f0,#dfdfdf)
					border-radius: 5px
			.tr-id
				width: 30px
			.tr-at
				width: 100px
			.tr-cat
				width: 50px
			.tr-vendor
				width: 160px
			.tr-comment
				width: 200px
			.tr-amount
				width: 80px
				text-align: right
				&.negative
				&.positive
			.tr-subtotal
				width: 80px
				text-align: right
			tr
				&.future
					background-color: #ddd
				&:hover
					background-color: #f0f1f2
				td
					padding-top: 3px
					padding-bottom: 3px
				a
					text-decoration: none
				.tr-toggle
					background: url('/g/mimi-icons-100.png') -60px -285px no-repeat
				&[transaction-enabled='true']
					.tr-toggle
						background: url('/g/mimi-icons-100.png') -110px -285px no-repeat

#footer
	bottom: 0
	background: #000

#debug-panel
	display: block
	z-index: 33
	position: absolute
	right: 0
	font-size: 12px

.charts
	width: 400px
	height: 400px

.block-20
	width: 20px

@mixin icon200($col, $row)
	$base-x: 80px
	$base-y: 80px
	$x: 5 - ($base-x * $col)
	$y: 5 - ($base-y * $row)
	background: url("/g/mimi-aligned-200.png") $x $y no-repeat

.icon-home-200
	@include icon200(5, 0)
.icon-transactions-200
	@include icon200(4, 2)
.icon-accounts-200
	@include icon200(4, 6)
.icon-categories-200
	@include icon200(3, 2)
.icon-logout-200
	@include icon200(3, 7)
.icon-settings-200
	@include icon200(2, 2)
.icon-wishlist-200
	@include icon200(9, 3)

.icon-food-150
	background: url('/g/mimi-icons-150.png') -17px -588px no-repeat

.icon-delete-100
	background: url('/g/mimi-icons-100.png') -10px -285px no-repeat
.icon-enabled-100
	background: url('/g/mimi-icons-100.png') -110px -285px no-repeat
.icon-disabled-100
	background: url('/g/mimi-icons-100.png') -60px -285px no-repeat
