#cnt-login
	#box-login
		%form{ :id => "loginform", :method => :post, :action => "/user/login" }
			.box-title
				Belépés
			.box-body
				.errors
					= flash[:error]
				%label{ :for => "username" }
					Felhasználónév
				%input{ :type => "text", :id => "username", :name => "username" }
				%label{ :for => "password" }
					Jelszó
				%input{ :type => "password", :id=> "password", :name => "password" }
				.clearer
				.lower
					%input{ :type => "submit", :id=>"submit_login", :value => 'Belépés' }
				.clearer
