!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%title
			Login
	%body
		%form{ :id => "loginform", :method => :post, :action => "/user/login" }
			%input{ :id => "username", :name => "username", :type => :text }
			%input{ :id => "password", :name => "password", :type => :password }
			%input{ :type => :submit, :value => "ok" }

