#cnt-login
	#box-login
		%form{ :id => "loginform", :method => :post, :action => "/user/login" }
			.box-title
				Belépés
			.box-body
				.errors{ :style => "display: #{flash[:error].to_s.length > 0 ? 'block' : 'none' }" }
					= flash[:error]

				.info{ :style => "display: #{flash[:notice].to_s.length > 0 ? 'block' : 'none' }" }
					= flash[:notice]
				.box-input
					%span.icon-user
						&nbsp;
					%input{ :type => "text", :id => "username", :name => "username", :placeholder => "Username" }
		
					.input-separator

					%span.icon-pwd
						&nbsp;
					%input{ :type => "password", :id=> "password", :name => "password", :placeholder => "Password" }
					.clearer
				.lower
					%input{ :type => "submit", :id=>"submit_login", :value => 'Belépés' }
				.clearer
