#cnt-register
	#box-register
		%form{ :id => "form_registration", :method => :post, :action => "/user/register" }
			.box-title
				Regisztráció
			.box-body
				.errors{ :style => "display: #{flash[:error].to_s.length > 0 ? 'block' : 'none' }" }
					= flash[:error]

				.info{ :style => "display: #{flash[:notice].to_s.length > 0 ? 'block' : 'none' }" }
					= flash[:notice]
				.box-input
					%input{ :type => "text", :id => "username", :name => "username", :placeholder => "Felhasználónév" }
					.input-separator
					%input{ :type => "text", :id => "displayname", :name => "displayname", :placeholder => "Megjelenített név" }
					.input-separator
					%input{ :type => "password", :id => "password", :name => "password", :placeholder => "Jelszó" }
					.input-separator
					%input{ :type => "password", :id => "password_confirmation", :name => "password_confirmation", :placeholder => "Jelszó még egyszer" }
				.lower
					%input{ :type => "submit", :id=>"submit_registration", :value => 'Elküld' }
