#cnt-transaction
	#box-transaction-register
		%form{ :action => "/transaction/new", :method => :post }
			.box-title
				Register transaction
			.box-body
				
				%input{ :type => "text", :name => "at", :placeholder => "2012-01-01 11:00" }
				%select{ :name => "category" }
					- @user.categories.each do |category|
						%option{ :value => category.id }
							= category.name
				%select{ :name => "account" }
					- @user.accounts.each do |account|
						%option{ :value => account.id }
							= account.name
				%input{ :type => "text", :name => "vendor", :placeholder => "vendor" }
				%input{ :type => "text", :name => "comment", :placeholder => "comment" }
				%input{ :type => "text", :name => "amount", :placeholder => "amount" }
				%input{ :type => "submit" }
	#box-transaction
		.box-title
			Transactions
		.box-body
			- @months.each do |m|
				%table.transactions{ :id => "tr-#{m}" }
					%thead
						%tr
							%th
								Cat
							%th
								Amount
							%th
								Peer
							%th
								Comment
							%th
								Account
							%th 
								Subtotal
					%tbody
