#cnt-home
	#box-home
		.box-title
			Főoldal
		.box-body
			%a{ :href => '/accounts' }
				Számlák
			%a{ :href => '/categories' }
				Kategóriák
			%a{ :href => '/transactions' }
				Tranzakciók
			%a{ :href => '/user/logout' }
				Kijelentkezés
