!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%title
			Sitebuild area
		%script{ :type => 'text/javascript', :src => '/j/jquery-1.7.2.min.js' }
		%script{ :type => 'text/javascript', :src => '/j/api.js' }
		%link{ :rel => :stylesheet, :href => '/c/fonts' }
		%link{ :rel => :stylesheet, :href => '/c/main' }
	%body
		#application
			#cnt-register
				#box-register
					.box-title
						Register
					.box-body
						%input{ :type => "text" }
						%input{ :type => "text" }
						%input{ :type => "password" }
						%input{ :type => "password" }
						.lower
							%input{ :type => "submit" }